body{
    background-image: linear-gradient(to right, #00ffff, #ffffff, #00ff00);
}

#float_necessary{
    float: none;
}

html, body{
    height: 100%;
    margin: 0;
}

#login_button{
    background-image: linear-gradient(to right, #00ffff, #00ff00);
    width: 100px;
}

#login_button:hover{
    background-image: linear-gradient(to right,#ff0000, #ffff00);
}

.center_needed{
    float: inline-end;
}